# Geometries with other functionals and crystal geometries
g16-sp-pbe0-tpssh/
sp-ccsdt-gp/
sp-mp2-cosmo/
sp-mp2-gp/
geom-exp/
Knope-structure-Ce-dinuclear-outerH2O/

# AMS files
*.ams
*.pid
*.results
*.rkf

# QTAIM subresults
*.wfx
*_atomicfiles/
*.extout
*.txt
*.g3dviz
*.mgpviz
*.sumviz

# Gaussian checkpoint files
*.chk*

# Shell scripts
*.pbs
*.sh
*.slurm

# PNG plots
*.png
